.mainMenu {
    /* background-color: rgba(255, 255, 255, 0.055);
    border-top: 1px solid rgba(255, 255, 255, 0.116);
    border-bottom: 1px solid rgba(255, 255, 255, 0.116); */
    color: black;
    font-size: bold;
  }
  .navbar-section{
    
  }